/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
/* Font Weights
    Extra Light = 200
    Light = 300
    Regular = 400
    Medium = 500
    Semibold = 600
    Bold = 700
    Extrabold = 800
    Black = 900
*/
/* Advanced CSS - Hierachical

.container .title searches for title class inside container class
.container.title searchs for both container class AND title class (same line usually)

*/
body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* Refractoring Example, after give more h3 specific classes for more control */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800
}

p {
  font-size: 1.3rem;
  color: #8f8f8f;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 0;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

.container-fluid {
  padding: 7% 15%;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: #fff;
}

#title {
  font-family: "Montserrat", sans-serif;
}

/* How to override previous container fluid by combining title and bootstrap class*/
#title .container-fluid {
  padding: 3% 15% 7%;
}

.iphone-container {
  position: relative;
}

.title-heading-container {
  text-align: left;
}

.title-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Title Image */
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features Section */
#features {
  position: relative;
}

/* Font Awesome Icons */
.feature-title {
  font-weight: 800;
  font-size: 1.5rem;
}

.fa-solid {
  color: #ef8172;
  padding: 10px 0;
  margin: 1rem 15px;
}

.fa-solid:hover {
  color: #ff4c68;
}

.feature-box {
  text-align: center;
}

/* Testimonials Sections */
/* ID more specific so it overrides the section class, class more specific than HTML element ie. h1,h2 etc.

  IDs good for href but use sparingly

  Avoid inline styles at all costs
*/
#testimonials, #press {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.big-heading {
  font-weight: 800;
  font-size: 3.0rem;
  line-height: 1.5;
}

.dog-title {
  font-weight: 800;
  font-size: 1.5rem;
}

.pricing-column {
  padding: 3% 2%;
}

.d-grid {
  margin: 1.5rem;
}

.social-media {
  margin: 20px;
}

#footer {
  padding: 100px;
}

.fa-brands {
  margin: 0 15px;
}

.fa-envelope {
  color: #000;
  padding: 0;
}

.fa-envelope:hover {
  color: #000;
}

/* Media Query Breakpoints */
@media (max-width: 922px) {
  .title-img {
    position: static;
    transform: rotate(0);
    text-align: center;
  }

  #title {
    text-align: center;
  }
}
